<!DOCTYPE html>
<html>
  <body>
    <h1>New Characters</h1>
    <form action="/new" method="POST">
      Name <input type="text" name="name"/>
      <button>Submit</button>
    </form>
  </body>
</html>